body{
margin: 0px;
padding: 0px;
background-color: rgb(158, 150, 150);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;    
}

.containerr{
    height: 390px;
    width: 90%;
    border: 5px solid rgb(116, 5, 5);
    background-color: #2e2a2c;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.breaki{
    display: none;
    color: red;
    font-size: 30px;
}
.time{
    color: red;
    font-size: 30px;
    display: none;
}

button{
 padding: 13px;
 border-radius: 12px;  
 border: none; 
 color: white;
 background-color: grey;
}


.longbreaki{
    color: red;
    font-size: 30px;

}











/* ===================button===================== */
h1{
    color: red;
}
button {
 display: inline-block;
 width: 100px;
 height: 50px;
 border-radius: 10px;
 border: 3px solid #5e0303;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
}

button::before,
button::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

button::before {
 left: -10px;
 background: #3c0202;
}

button::after {
 right: -10px;
 background: #000000;
}

button:hover::before,
button:hover::after {
 width: 58%;

}

button:hover  {
    color: rgb(248, 8, 8);
     transition: 0.3s;
     font-weight: bolder;
}

button span {
 color: #5e0303;
 font-size: 18px;
 transition: all 0.3s ease-in;
}
/* ===========================animation pattern============= */
.container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    display: flex;
    justify-content: center;
    align-items: center;
    --sz: 15px;
    --c0: #000;
    --c1: #2e2a2c;
    --ts: 50% / calc(var(--sz) * 8) calc(var(--sz) * 16);
    margin: 0;
    padding: 0;
    overflow: hidden;
    --dot: var(--c1) 0 calc(var(--sz) * 0.78),
      #fff0 calc(calc(var(--sz) * 0.78) + 1px) 100%;
    --dot2: radial-gradient(circle at 90% 0%, var(--dot)) var(--ts),
      radial-gradient(circle at 65% 0%, var(--dot)) var(--ts),
      radial-gradient(circle at 40% 0%, var(--dot)) var(--ts),
      radial-gradient(circle at 15% 0%, var(--dot)) var(--ts);
    --cg1: conic-gradient(from -90deg at 5% 51%, var(--c0) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg2: conic-gradient(from -90deg at 25% 50%, var(--c1) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg3: conic-gradient(
        from -90deg at 30% 38.5%,
        var(--c0) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
    --cg4: conic-gradient(
        from -90deg at 50% 37.5%,
        var(--c1) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
    --cg5: conic-gradient(from -90deg at 55% 26%, var(--c0) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg6: conic-gradient(from -90deg at 75% 25%, var(--c1) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg7: conic-gradient(
        from -90deg at 80% 13.5%,
        var(--c0) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
    --cg8: conic-gradient(
        from -90deg at 100% 12.5%,
        var(--c1) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
  
    background: var(--dot2), var(--dot2),
      radial-gradient(circle at 90% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 65% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 40% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 15% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 90% 12.5%, var(--dot)) var(--ts),
      radial-gradient(circle at 65% 25%, var(--dot)) var(--ts),
      radial-gradient(circle at 40% 37.5%, var(--dot)) var(--ts),
      radial-gradient(circle at 15% 50%, var(--dot)) var(--ts), var(--cg1),
      var(--cg1), var(--cg2), var(--cg2), var(--cg3), var(--cg3), var(--cg4),
      var(--cg4), var(--cg5), var(--cg5), var(--cg6), var(--cg6), var(--cg7),
      var(--cg7), var(--cg8), var(--cg8),
      linear-gradient(-45deg, #fff0 0 32.25%, #0002 50%, #000 77.5%) var(--ts),
      linear-gradient(-45deg, #fff0 0 32.25%, #000 60%) var(--ts),
      repeating-linear-gradient(90deg, var(--c0) 0 5%, var(--c1) 0 25%) var(--ts);
  }
  
/* .container {
    width: 100%;
    height: 100%;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

@media(min-width:768px){
    button{
        height: 80px;
        width: 120px;
font-size: 21px;
    }
    h1{
        font-size: 35px;
    }
}